   #ccontainer{
   box-shadow: 0 0 3px black;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;

}

input{
    font-size: 18px;
    color: #2980b9;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}

input:focus{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}


#samm{
	color: red;
}


.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
   
    z-index: -1;
}

.help-block{
	color: red;
}